<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inzynierka.animalshelters">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.administration.UserListActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".NewsBoardActivity" />
        <activity android:name=".activities.basic.BasicActivity" />
        <activity
            android:name=".activities.favorites.FavoriteAnimalsActivity"
            android:label="@string/title_activity_fav_animals"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.administration.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.animals.AnimalsActivity" />
        <activity
            android:name=".activities.animalShelters.SheltersActivity"
            android:label="@string/title_activity_shelters"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.administration.AdminEditUser" />
        <activity android:name=".activities.administration.AdminEditShelter" />
        <activity android:name=".activities.newsBoard.NewsBoardNew" />
        <activity android:name=".activities.animals.AnimalActivity" />
        <activity android:name=".activities.animalShelters.ShelterActivity"></activity>
    </application>

</manifest>